In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

In [20]:
dataFrame = pd.read_csv("HR_comma_sep.csv")
dataFrame

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [21]:
dataFrame.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [25]:
dataFrame.tail()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [28]:
dataFrame.iloc[5600:5660]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
5600,0.22,0.58,2,255,5,0,0,0,sales,medium
5601,0.63,0.79,5,215,2,1,0,0,accounting,medium
5602,0.68,0.53,3,156,4,0,0,0,accounting,medium
5603,0.52,0.49,3,146,2,1,0,0,accounting,medium
5604,0.22,0.52,6,217,6,0,0,0,hr,medium
5605,0.51,0.82,3,206,4,0,0,0,hr,medium
5606,0.66,0.92,4,239,3,0,0,0,hr,medium
5607,0.26,0.37,2,232,3,1,0,0,hr,low
5608,0.42,0.40,3,160,2,0,0,0,technical,low
5609,0.86,0.77,5,237,3,1,0,0,technical,low
5610,0.52,0.68,3,162,4,1,0,0,technical,low
5611,0.95,0.64,3,138,4,1,0,0,technical,low
5612,0.63,0.94,2,228,2,1,0,0,technical,low
5613,1.00,0.54,3,151,2,1,0,0,technical,low
5614,0.54,0.58,3,169,2,1,0,0,technical,high
5615,0.90,0.70,3,147,4,0,0,0,technical,low
5616,0.49,0.99,6,205,5,0,0,0,technical,high
5617,0.81,0.60,3,140,2,0,0,0,technical,high
5618,0.50,0.66,4,150,4,0,0,0,technical,low
5619,0.70,0.88,4,191,3,1,0,0,support,low
5620,0.50,0.85,4,150,2,0,0,0,support,high
5621,0.98,0.66,2,255,3,0,0,0,support,low
5622,0.86,0.51,3,230,3,0,0,0,support,medium
5623,0.93,0.77,3,202,5,0,0,0,support,high
5624,0.62,0.75,3,180,3,0,0,0,support,medium
5625,0.64,0.57,3,179,3,0,0,0,support,medium
5626,0.66,0.94,4,198,3,1,0,0,support,medium
5627,0.65,0.86,4,267,2,0,0,0,support,medium
5628,0.89,0.84,3,166,2,0,0,0,support,high
5629,0.77,0.58,4,162,2,0,0,0,support,medium
5630,0.40,0.36,4,128,4,0,0,0,technical,medium
5631,0.36,0.44,4,114,4,0,0,0,technical,medium
5632,0.30,0.48,2,104,2,0,0,0,technical,high
5633,0.90,0.64,4,139,3,1,0,0,management,medium
5634,0.23,0.49,5,214,5,0,0,0,IT,high
5635,0.24,0.79,2,175,5,0,0,0,IT,low
5636,0.98,0.92,4,175,2,0,0,0,IT,medium
5637,0.49,0.48,2,186,2,0,0,0,IT,medium
5638,0.23,0.48,3,139,4,0,0,0,IT,medium
5639,0.79,0.71,3,202,3,0,0,0,product_mng,medium
5640,0.21,0.76,4,165,6,1,0,0,product_mng,low
5641,0.38,0.92,5,238,2,0,0,0,product_mng,low
5642,0.17,0.59,4,179,4,0,0,0,product_mng,low
5643,0.56,0.69,5,239,2,1,0,0,IT,low
5644,0.97,0.70,5,195,2,1,0,0,RandD,low
5645,0.22,0.78,6,206,6,0,0,0,RandD,low
5646,0.84,0.88,3,194,3,0,0,0,RandD,low
5647,0.64,0.63,5,105,5,1,0,0,RandD,low
5648,0.78,0.69,5,256,3,0,0,0,RandD,low
5649,0.23,0.40,6,110,4,1,0,0,marketing,low
5650,0.99,0.82,6,185,4,1,0,0,sales,high
5651,0.15,0.76,4,255,6,0,0,0,accounting,low
5652,0.24,0.96,3,174,6,0,0,0,support,low
5653,0.84,0.71,4,273,3,0,0,0,technical,low
5654,0.82,0.58,2,248,6,0,0,0,management,low
5655,0.17,0.86,3,286,6,0,0,0,marketing,high
5656,0.72,0.71,5,248,2,0,0,0,marketing,low
5657,0.86,0.91,3,234,3,1,0,0,marketing,low
5658,0.75,0.55,3,162,3,0,0,0,sales,low
5659,0.93,0.82,5,272,3,0,0,0,sales,high

In [39]:
%matplotlib inline 
for column in dataFrame.iteritems():
    X = dataFrame[column]
    y = dataFrame[["left"]]
    plt.scatter(X, y, marker = "+")

InvalidIndexError: ('satisfaction_level', 0        0.38
1        0.80
2        0.11
3        0.72
4        0.37
         ...
14994    0.40
14995    0.37
14996    0.37
14997    0.11
14998    0.37
Name: satisfaction_level, Length: 14999, dtype: float64)